/* font family */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


/***********************************
------* nav bar ****************/

header{
    background-color: #2D25A0;
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-text{
    position: relative;
    display: flex;
    width: 100%;
    height: 44px;
    padding-top: 50px;
    padding-left: 165px;
    
}


nav>ul>li>a{
    
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding-right: 36px;
    
    
}

nav>ul>li{
    list-style: none;
}

.login-button{
    width: 123px;
    height: 44px;
    padding-top: 42px;
    padding-right: 124px;
}






/***********************************
------* first section ****************/

.first-section {
    position: relative;
    max-width: 100%;
    height: 677px;
    background-color: #2D25A0;
    display: flex;
    justify-content: space-between;

}

.first-text{
    width: 485px;
    height: 230px;
    padding-top: 120px;
    padding-left: 156px;
}

.first-text h1{
    font-style: bold;
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
    
}



.fa-arrow-right{
    width: 24px;
    padding-left: 6px;
}

.first-image img{
    padding-top: 153px;
    width: 556.01px;
    height: 438px;

}


/*************************************************************
---------- blogs section *****************/
.section-two{
    margin-top: 50px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 27px;
    padding-left: 60px;
}

.blog{
    width: 330px;
    height: 474px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: white;
    padding: 15px;
     
}

.blog img{
    width: 100%;
}

.blog h2{
    font-weight: 700;
    font-size: 28px;
}
.blog p{
    font-weight: 400;
    color: #6C6C6C;
    line-height: 26px;
    font-size: 16px;
    text-align: left;

}

/*************************************************************
***************** last section *************/


.highlight-div{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.last-text{
    width: 469px;
    height: 350px;
}

.last-text h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    height: 120px;
    
}

.last-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}

.last-image img{
    width: 500px;
    height: 380px;
    padding-left: 66px;
}

.second-button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 173px;
    height: 44px;
    padding: 10px, 24px, 10px, 24px;
    background-color:#E02C6D;
    border: 1px solid #E02C6D;
}

.second-button>a{
    
    
    width: 116px;
    font-weight: 500;
    font-size: 14px; 
    color: #FFFFFF;
    text-decoration: none;
    
}

/* ******************************
--------------footer *****************/

footer{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    width: 483.87px;
    height: 213px;
    padding-left: 475px;
    align-items: center;
    justify-content: center;
    
    
}

.footer-icon>img{
    
    width: 483.87px;
    height: 110px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.footer-icon-awasome{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 170px;
    height: 32px;
    
}

.fab{
    color: #969BAB;
}

.footer-para>p{
    font-size: 18px;

}

/**************************************************************
******************* resposive media query ***********************/

@media only screen and (max-width: 687px) {


    /***********************************
------* nav bar ****************/

    header{
        background-color: #2D25A0;
        top: 0;
        width: 360px;
        height: 695px;
        
    }

    .nav-text{
        display:none;
    }
    .login-button{
        flex: end;
        width: 20px;
        height: 35x;
        padding-left: 180px;
        
    }
    /***********************************
------* first section ****************/

   
    .first-section{
        display: flex;
        flex-direction: column;
        
        
        
    }
    .first-text{
        width: 278px;
        height: 138px;
        padding-top: 40px;
        padding-left: 16px;
        

    }
    .first-text h1{
        font-style: bold;
        font-size: 36px;
        font-weight: 700;
        line-height: 50px;
        color: #FFFFFF;
        
        
    }
  
    .second-button{
    
        display: flex;
        justify-content: center;
        align-items: center;
        width: 168px;
        height: 44px;
        padding: 10px, 24px, 10px, 24px;
        background-color:#E02C6D;
        border: 1px solid #E02C6D;
    }
    
    .second-button>a{
        
        
        width: 116px;
        font-weight: 500;
        font-size: 14px; 
        color: #FFFFFF;
        text-decoration: none;
        
    }
    .first-image img{
        padding-bottom: 60px;
        padding-left: 15px;
        width: 329px;
        height: 259.17px;
    
    }
    /*************************************************************
---------- blogs section *****************/

    .section-two{
        margin-top: 108px;
    }

    .blogs{
        
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0px;
        padding-left: 15px;
        
        
    }
    .blog{
        width: 250px;
        height: 470px;
        
         
    }

    /*************************************************************
***************** last section *************/


.highlight-div{
    margin-top: 50px;
    flex-direction: column;
    padding-left: 15px;
    
}

.last-text{
    width: 300px;
    height: 299px;
}

.last-text h3{
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    height: 55px;
    
}


.last-image img{
    width: 280px;
    height: 248px;
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 15px;
}
/* ******************************
--------------footer *****************/

footer{
    margin-top: 70px;
    width: 300px;
    height: 213px;
    padding-left: 15px;
    
    
    
}

.footer-icon>img{
    
    width: 280px;
    height: 110px;
    padding-right: 50px;
}


}